* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}

.class {
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    height: 300px;
    width: 230px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(251, 255, 0);
    overflow: hidden;
}

#card2 {
    rotate: -8deg;
    background-color: blueviolet;

}

#card3 {
    rotate: -16deg;
    background-color: rgb(5, 99, 8);
}

#card4 {
    rotate: -24deg;
    background-color: rgb(255, 0, 68);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#card2:hover {
    z-index: 10;
}

#card3:hover {
    z-index: 10;
}

#card4:hover {
    z-index: 10;
}